.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.35);
}

.header__logo {
  margin: 0 0 0 104px;
  font-family: 'Roboto-slab';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  user-select: none;
}

.header__menu {
  display: flex;
  align-items: center;
  margin: 0 104px 0 0;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.header__hamburger-menu-btn{
  display: none;
}


.header__button {
  border: none;
  background: none;
  margin: 0 0 0 44px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  height: 80px;
  border-bottom: 2px solid white;
  transition: ease 0.2s all;
}

.header__button-loggedin_active {
  border: none;
  background: none;
  margin: 0 0 0 44px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  height: 80px;
  transition: ease 0.2s all;
  display: block;
}

.header__button-loggedin {
  border: none;
  background: none;
  margin: 0 0 0 44px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  height: 80px;
  transition: ease 0.2s all;
  display: none;
}

.header__user-button {
  border: 1px solid #FFFFFF;
  border-radius: 100px;
  background: none;
  margin: 0 0 0 42px;
  text-decoration: none;
  color: white;
  width: 176px;
  height: 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logout-button{
  margin: 0 0 0 6px;
  padding: 0;
  display: none;
}

.header__logout-button_active {
  background-image: url('../../images/logout-white.svg');
  width: 24px;
  height: 24px;
  margin: 0 0 0 6px;
  padding: 0;
  display: block;
}

@media screen and (max-width:834px) {
  .header {
    height: 66px;
  }

  .header__menu {
    margin: 0 52px 0 0;
  }

  .header__logo {
    margin: 0 0 0 40px;
  }

  .header__user-button {
    width: 152px;
    height: 40px;
  }

  .header__button {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    border-bottom: 2px solid white;
    height: 66px;
  }
  .header__button-loggedin_active {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    height: 66px;
  }
}


@media screen and (max-width:490px) {
  .header {
    height: 56px;
  }

  .header__mobile {
    background-color: #1A1B22;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    width: 100%;
    position: relative;
  }

  .header__inactive {
    opacity: 0;
  }

  .header__mobile-alignment {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid blue; */
    padding:0;
    /* margin: 9px 0 0 0; */
  }

  .header__logo {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 0 16px;
  }

  .header__menu {
    display: none;
  }

  .header__menu-mobile {
    flex-direction: column;
    background-color: #1A1B22;
    width: 100%;
    z-index: 2;
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.35);
  }

  .header__user-button {
    margin: 22px auto 24px auto;
    width: 288px;
    height: 56px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 56px;
  }

  .header__button {
    margin: 16px auto 0 auto;
    border: none;
    width: 288px;
    height: 56px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 56px;
    text-align: left;
  }

  .header__button-loggedin_active {
    margin: 16px auto 0 auto;
    border: none;
    width: 288px;
    height: 56px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 56px;
    text-align: left;
  }

  .header__hamburger-menu-btn {
    background-image: url('../../images/hamburger.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    width: 24px;
    height: 24px;
    margin: 16px 16px 16px 0;
    display: block;
  }

  .header__hamburger-menu-close-btn {
    background-image: url('../../images/close.svg');
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: none;
    width: 24px;
    height: 24px;
    margin: 16px 16px 16px 0;
    display: block;
  }


  .main__mobile-overlay {
    display: none;
  }

  .main__mobile-overlay_active {
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}
